header{
    background-color: aqua;
}
main{
    background-color: aquamarine;
}
footer{
    background-color: azure;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lucida Sans';
    font-style: oblique;
    background-color: brown;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

.nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #134781;
    color: white;
}
a{
    color: white;
    text-decoration: none;
    font-family: Arial;
}
li{
    border-left: solid red 5px;
    padding-left: 6px;
    height: 50px;
    vertical-align: middle;
}